* {
  font-family: 'Courier New', Courier, monospace;
}

*:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  color: darkmagenta;
}

h2 {
  padding-bottom: 10px;
  margin: 0px;
}

.box {
  border: 1px solid gray;
  width: 500px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}

.number-list {
  padding: 0;
  margin: 0;
}

.number-button {
  min-width: 70px;
  height: 70px;
  margin: 10px 10px 0px 0px;
  padding: 15px;
  border: 0;
  background-color: darkmagenta;
  color: white;
  font-size: 30px;
  border-radius: 10px;
}

.number-button:hover {
  background-color: lightsalmon;
  cursor: pointer;
}

.number-detail-container {
  background-color: darkmagenta;
  font-family: cursive;
  width: 90%;
  height: 230px;
}

.number-detail {
  font-size: 230px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 20px 0px;
}

.number-input {
  height: 50px;
  width: 120px;
  font-size: 30px;
  margin-right: 15px;
}

.number-submit {
  min-width: 70px;
  height: 55px;
  margin: 10px 10px 0px 0px;
  border: 0;
  background-color: darkmagenta;
  color: white;
  font-size: 30px;
  border-radius: 10px;
}

.number-submit:hover {
  background-color: lightsalmon;
  cursor: pointer;
}

.back {
  border: 0;
  border-radius: 3px;
}

.back:hover {
  cursor: pointer;
  background-color: lightsalmon;
  color: white;
}
