.block {
  border: 1px solid gray;
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.number-list {
  background-color: lightblue;
  padding:10px
}

.number-button {
  width:70px;
  margin-right:10px;
  padding:5px
}